# Replace yourapp.duckdns.org with your actual DuckDNS subdomain.
# Caddy auto-provisions and renews the Let's Encrypt cert.
blue-atreides.duckdns.org {
    reverse_proxy localhost:3000
}
cs411.duckdns.org {
    reverse_proxy localhost:3000
}
otter-life.duckdns.org {
    reverse_proxy localhost:3000
}
