time.branam.us {
	handle /api/* {
		reverse_proxy localhost:3000
	}
	handle {
		root * /home/ec2-user/track-web/client-tracker/dist
		try_files {path} /index.html
		file_server
	}
}

movies.branam.us {
	handle /api/* {
		reverse_proxy localhost:3000
	}
	handle {
		root * /home/ec2-user/track-web/client-movies/dist
		try_files {path} /index.html
		file_server
	}
}
